        div {
            display: inline-block
        }

        .lighterboxes {
            margin: 50px;
            width: 200px;
            background-color: bisque;
        }

        .darkcontainer {
            margin: 50px;
            height: 200px;
            width: 500px;
            background-color: black;
            padding: 25px;
            text-align: center;
        }

        .darkerboxes {
            width: 200px;
            height: 200px;
            background-color: black;
        }